/* styles.css */
.tile {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 3, 0.0, 0, 0);
    -fx-transition: all 0.2s;
}


.tile:hover {
    -fx-background-color: #999999;
    -fx-border-color: #555555;
    -fx-cursor: hand;
}
